.header {
  position: relative;
  display: flex;
  flex-direction: column;

  margin: 91.06px auto 0;

  max-width: 984px;
}

.header__title {
  font-size: 96px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;

  width: auto;
  margin: 0 auto;
}

.header__subtitle {
  font-size: 30px;
  text-align: center;
  line-height: 36px;

  width: auto;
  margin: 32px auto 64px;
}

.header__image {
  max-width: 100%;
  max-height: 615px;
  object-fit: fill;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1280px) {
  .header__title {
    max-width: 720px;
  }

  .header__subtitle {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 90px auto 0;
  }

  .header__title {
    max-width: 530px;

    font-size: 75px;
    line-height: 79px;
  }

  .header__subtitle {
    margin: 25px auto 30px;
  }

  .header__image {
    max-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin: 50px auto 0;
  }

  .header__title {
    font-size: 40px;
    line-height: 44px;

    max-width: 228px;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 20px;

    max-width: 288px;
    margin: 16px auto 40px;
  }

  .header__image {
    width: 320px;
    max-height: 200px;
  }
}
