.places {
  position: relative;
  display: grid;

  grid-row-gap: 80px;
  margin: 92px auto 0;

  max-width: 987px;
}

@media screen and (max-width: 320px) {
  .places {
    position: relative;
    display: grid;

    grid-row-gap: 50px;
    margin-top: 62px;
    margin-bottom: 0;

    max-width: 320px;
  }
}
